<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rick: {{ title }}</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content={{ description }} />
  <meta property="og:url" content="https://ricksm.it" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= title %>" />

  <meta property="og:description" content={{ description }} />
  <meta property="og:site_name" content="Rick Smit" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@rick5m" />
  <meta name="twitter:creator" content="@rick5m" />
  <meta name="twitter:url" content="ricksm.it" />
  <meta name="twitter:title" content={{ title }} />
  <meta name="twitter:description" content={{ description }} />
  {{{htmlWebpackPlugin.tags.headTags}}}

</head>

<body class="text-gray-800">
  <header class="flex items-center w-full top-0 bg-gray-200 h-12 z-10">
    <nav class="container mx-auto">
      <ul class="flex">
        <li class="mr-auto flex">
          <a class="logo" href="/" title="home"></a>
        </li>
        <li class="ml-auto"><a href="/work/">work</a></li>
      </ul>
    </nav>
  </header>